{% extends "base.html" %}
{% load static %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2>About</h2>

		<p>
            Innovation Mapping is a method that enables acquiring a better understanding of the process of innovation,
            assisting in the development of new tools to measure innovation-related phenomena and to articulate
            innovation plans. Innovation Maps can help uncover critical bottom-up information embedded in firms’ R&D and
            innovation applications for public support. In the context of the smart specialisation process and
            entrepreneurial discovery, Innovation Maps have been used to help tease out information about technological
            trends by the private sector.
		</p>

		<p>The logical steps of the application, based on its methodological description are:</p>

		<ul class='dashed'>
            <li><i>Step 1.</i> Receive information on the concept of Innovation Maps, and the standardisation of data required to produce such maps. See: <a href="{% url 'innovationmaps_guide' %}">Guide</a>/<a href="{% url 'innovationmaps_related' %}">Related</a></li>
            <li><i>Step 2.</i> Import <strong>grant application</strong> data tables into the <a href="{% url 'innovationmaps_map' %}">online application</a>. This data must comply with the requirements for plotting Innovation Maps, including indication of <strong>economic sectors</strong> of all grants and <strong>technology fields</strong> covered. </li>
			<li><i>Step 3.</i> Select among different layouts for the visualisation of the data. The app provides file templates which are annotated within the <a href="{% url 'innovationmaps_guide' %}">guide</a> in order to aid in data selection and upload.</li>
            <li><i>Step 4.</i> <strong>Customise</strong> the analysis, by focusing on specific technology areas, or sectors from the uploaded data set. </li>
			<li><i>Step 5.</i> Design an Innovation Map graph. </li>
            <li><i>Step 6.</i> <strong>Save</strong> the results, export the analysis or export the clean data in .xls or .csv format. </li>
		</ul>

        <div class="img-container">
            <img src='{%  static "img/about.png" %}' alt="Overview" width="620"/>
        </div>
        <p class="img-caption">Figure 1: Overview of the functionality of the RIS3 Innovation Map Tool</p>

	</article>

	<aside id='sidebar'>
        <a href='{% url "innovationmaps_pdf" %}' target="_blank">
		    <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
		<div></div>
        <a href='{% url "innovationmaps_map" %}'>
		    <button> Access to application  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
	</aside>

</div>
<!-- Application's space -->
{% endblock %}