{% extends "base.html" %}
{% load static %}

{% block addHead %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css"/>
 <style>
    .pagetitle {
        margin: 0;
        color: #de1515;
        padding: 1rem 0 0rem 1rem;
        font-style: normal;
        font-weight: 400;
        clear: both;
        font-size: 21px;
        font-family: tahoma
    }
    </style>
{% endblock %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2 class="pagetitle">Guide</h2>

        <p>How to use the RIS3 Innovation Maps application.</p>

		<p>
            <strong>Step 1.</strong> Data Collection
        </p>
        <p>
            <strong>a: </strong>Data Gathering<br>
            A prerequisite to the use of this application is the availability of grant data concerning innovative
            programmes implemented across various regions. Data sources may include regional research councils or
            funding providers such as the <a data-toggle="modal" data-target="#gtr">Gateway to Research (GtR) <i class="fa fa-ellipsis-h"></i></a> in the UK
            and <a data-toggle="modal" data-target="#tekes">Tekes <i class="fa fa-ellipsis-h"></i></a> in Finland.
        </p>
        <p>
            Compile relevant data from these providers in the application by one or more of the following means:
            <ul>
                <li> <i class="fa fa-file-text-o"></i> File upload: Import a local text file. *</li>
                <li> <i class="fa fa-magic"></i> Data Import: Query stored data from the sources listed above.</li>
                <li> <i class="fa fa-pencil"></i> Manual Data Entry: Design a custom format and enter or copy data into an online spreadsheet.</li>
            </ul>
        </p>
        <div style="text-align: right"><i>* Supported text formats include: (<i class="fa fa-file-text-o"></i> csv, <i class="fa fa-file-excel-o"></i> xls, ods, json etc.).</i></div>
        <br>
        <div class="">
            <div id="carousel" class=" carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="carousel" data-slide-to="0" class="active"></li>
                    <li data-target="carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner img-container">
                    <div class="item active">
                        <img src="{% static "img/im_Step-1.png" %}" style="width: 620px; display: inline-block"/>
                    </div>
                    <div class="item">
                        <img src="{% static "img/od-import.png" %}" style="width: 620px; display: inline-block"/>
                    </div>
                    <div class="item">
                        <img src="{% static "img/im_import.png" %}" style="width: 620px; display: inline-block"/>
                    </div>
                    <div class="item">
                        <img src="{% static "img/im_entry.png" %}" style="width: 620px; display: inline-block"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev" style="background-image: none"><span class="glyphicon glyphicon-chevron-left" style="color: #2e64aa"></span></a>
                <a class="right carousel-control" href="#carousel" data-slide="next" style="background-image: none"><span class="glyphicon glyphicon-chevron-right" style="color: #2e64aa"></span></a>
            </div>




        </div>
        <p class="img-caption">Figure 1.a.i: Data selection and upload</p>

        <p>
            Additional sources may also include information exported from the RIS3 Open Data Tool (App. 5.7.).
            This data consists of <abbr title="Community Research and Development Information Service">CORDIS</abbr> data
            concerning EU funded projects and the corresponding calls.
        </p>
        <div class="img-container">
            <img src="{% static "img/od-export.png" %}" style="width: 620px"/>
            <hr>
            <img src="{% static "img/od-import.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 1.a.ii: Data selection and upload</p>

        <p>
            <strong>b: </strong>Data Specification<br/>
            The next step is the selection of appropriate fields and the definition of a method of classification, by
            business area and technology area. <br>
            At this stage it is required to specify the relevant columns containing essential information including:
            <ul style="list-style-type: disc">
                <li>Region</li>
                <li>Funding</li>
                <li>Business Area</li>
                <li>Technology Classification</li>
            </ul>
            <p>
                <i>NOTE: It is possible to create new columns for manual data entry should this data not be available.</i>
            </p>
            The OECD and NABS standards are built-in to the application and are used as standard however the user may specify a custom classification method.
            In order to use a custom classification two additional csv files are required to be uploaded which contain:

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Contents</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>"chapter"</td>
                        <td>Label</td>
                        <td>1.1.</td>
                    </tr>
                    <tr>
                        <td>"topic"</td>
                        <td>Title</td>
                        <td>Mathematics</td>
                    </tr>
                    <tr>
                        <td>"category" *</td>
                        <td>Hierarchy</td>
                        <td>Natural Sciences</td>
                    </tr>
                </tbody>
            </table>

            <p style="text-align: right">* optional</p>

            <p>
                Read more concerning classification methods <a href="http://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM&StrGroupCode=CLASSIFIC&StrLanguageCode=EN">here</a>.<br/>
                <i>Note: The use of standard classifications is encouraged to allow for cross-regional and cross-country comparisons.</i>
            </p>
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-2.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 1b: Data import and parsing. </p>

        <hr/>

        <p>
            <strong>Step 2: </strong>Data Cleansing and Classification<br/>
        </p>
        <p>
            Imported data will appear in the online spreadsheet where it can modified and manipulated.
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-3.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 2: Imported data</p>

        <p>
            Classify grant data by business and technology area using the provided drop-down menus.
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-3.1.png" %}" style="width: 440px"/>
        </div>
        <p class="img-caption">Figure 2: Classification of project data</p>

        <hr/>

        <p>
            <strong>Step 3: </strong>Data Visualisation, Analysis and Policy Intelligence <br/>
            Visualise the data in order to analyse trends concerning regional <abbr title="Research and Innovation Strategies for Smart Specialisation">RIS3</abbr> priorities.
            Build and apply filters concerning any column in order to fine-tune the analysis; E.g. filter by Region.
        </p>

        <div class="img-container">
            <img src="{% static "img/im_Step-4.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 3a: Bubble Map Visualisation</p>

        <div class="img-container">
            <img src="{% static "img/im_Step-4a.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 3a: Heatmap Visualisation</p>

        <p>
            Construct filters in order to refine the scope of the analysis.
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-4.1.png" %}" style="width: 620px"/>
        </div>
        <p class="img-caption">Figure 3b: Filter Application</p>

        <hr/>

        <p>
            <strong>Step 4: </strong>Plotting Options and Data Export <br/>
            Adjust and save the underlying data and figures.
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-5.png" %}" style="width: 480px"/>
        </div>
        <p class="img-caption">Figure 3a: Adjusting settings and Export options</p>

        <h5>&emsp;Options</h5>
        <ul>
            <li><i class="fa fa-cogs"></i> Modify Settings: Adjust column selection and change classification method</li>
            <li><i class="fa fa-table"></i> Column: Select a column in order to change the header title</li>
            <li><i class="fa fa-plus-circle"></i> Insert: Add a new column </li>
            <li><i class="fa fa-font"></i> Title: Change the plot title and file name for export</li>
            <li><i class="fa fa-picture-o"></i> Format: Change the Image type for export - png, jpeg, webp or svg</li>
            <li><i class="fa fa-table"></i> Data: Chose to plot project count or funding</li>
            <li><i class="fa fa-search"></i> Scale: Adjust the bubble size for improved comparison</li>
            <li><i class="fa fa-filter"></i> Filter: Construct filter by selecting a column and desired values</li>
        </ul>

        <hr>

        <p>
            <strong>Step 5. </strong>Policy Intelligence <br/>
            Analyse the data visualised by the app; for example: Identify regional strengths and concentrations of
            innovation activities using Heatmap plots with a regional filter or Bubble maps with classification filters.
            Click on the plot to find out more about a specific topic area or region.
        </p>
        <div class="img-container">
            <img src="{% static "img/im_Step-6.png" %}" style="width: 480px"/>
        </div>
        <p class="img-caption">Figure 4: Policy Intelligence</p>

	</article>


	<aside id='sidebar'>
        <a href='{% url "innovationmaps_pdf" %}' target="_blank">
		    <button id="df0" class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
		<div></div>
        <a href='{% url "innovationmaps_map" %}'>
		    <button id="df1"> Access to application  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
	</aside>

</div>


<!-- Modals -->
<div id="gtr" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="flag-icon flag-icon-gb"></i> Gateway to Research</h4>
      </div>
      <div class="modal-body">
        <p>How to explore and export data from the Gateway to Research.</p>

        <p><strong>Step 1.</strong> Specify search criteria.</p>

        <div class="img-container">
            <img src="{% static "img/gtr.png" %}" style="width: 480px"/>
        </div>
        <p class="img-caption">Figure 1: Search Functionality</p>

        <hr>

        <p><strong>Step 2.</strong> Explore the results, apply filters and export to csv.</p>

        <div class="img-container">
            <img src="{% static "img/gtr-2.png" %}" style="width: 480px"/>
            <hr>
            <img src="{% static "img/gtr-3.png" %}" style="width: 480px"/>
        </div>
        <p class="img-caption">Figure 2: Results and Data Export</p>

        <p><strong>Step 2. (* Advanced)</strong> Using the project API.</p>
        <p>
            Example API call:
            <a href="http://gtr.rcuk.ac.uk:80/gtr/api/projects?q=test&f=pro.t&f=pro.a&sf=pro.sd&so=D" target="_blank"><i>http://gtr.rcuk.ac.uk:80/gtr/api/projects?q=<strong>test</strong>&f=<strong>pro.t</strong>&f=<strong>pro.a</strong>&sf=<strong>pro.sd</strong>&so=<strong>D</strong></i></a><br>
            Explaination: Retrieve all projects which relate to any project title or abstract (f=) containing the word 'test' (q=), sort by the project start date (sf=) descending (so=)
            <br>
            <a href="http://gtr.rcuk.ac.uk/resources/GtR-2-API-v1.7.pdf" target="_blank"> Full API Reference <i class="fa fa-external-link"></i></a>
        </p>

        <p>
            The advantage of using GtR's <abbr title="Application Program Interface">API</abbr> over the standard <abbr title="User Interface">UI</abbr> is that project abstracts, topics and sectors are also provided in the results.
            This information can then easily be mapped to the standard <abbr title="Organisation for Economic Co-operation and Development">OECD</abbr> and <abbr title="Nomenclature for the Analysis and comparison of scientific programmes and Budgets">NABS</abbr> classifications for use within this application alongside other data sources.
        </p>

        <hr>

        <p><strong>Step 3.</strong> Preparing the Results for upload.</p>

      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="http://gtr.rcuk.ac.uk/" target="_blank">Launch <i class="fa fa-external-link"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="tekes" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="flag-icon flag-icon-fi"></i> Tekes</h4>
      </div>
      <div class="modal-body">
        <p>How to explore and export data from Tekes.</p>

        <p><strong>Step 1.</strong> Specifying search criteria and output data format.</p>

        <p>
            Tekes is an Open data storehouse providing information concerning public research and corporate projects funded as part of Tekes programmes and implemented across Finland.
            Information can be filtered by Organisation and Research type, Tekes programme and Project Status, and can be downloaded as HTML, Excel or CSV.
        </p>

        <div class="img-container">
            <img src="{% static "img/tekes.png" %}" style="width: 480px"/>
        </div>
        <p class="img-caption">Figure 1: Search Functionality</p>


      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="https://extranet.tekes.fi/ibi_apps/WFServlet?IBIF_ex=o_projekti_htm1&YKIELI=E" target="_blank">Launch <i class="fa fa-external-link"></i></a>
      </div>
    </div>
  </div>
</div>


<!-- Application's space -->
{% endblock %}