{% extends "base.html" %}
{% load static %}

{% block addHead %}
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- jQueryUI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Underscore JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- Walk-through -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" />

    <!-- Select2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>

    <!-- alasql - NoSQL for file parsing -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.4.2/alasql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.2/xlsx.core.min.js"></script>

    <!-- CSV Reader -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.js"></script>

    <!-- jExcel -->
    <script src="{% static 'js/jexcel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jexcel.css' %}" type="text/css"/>

    <!-- plot.ly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- App js -->
    <script src="{% static 'js/im_map.js' %}"></script>
    <script src="{% static 'js/im_utils.js' %}"></script>
    <script src="{% static 'js/select2Editor.js' %}"></script>
    <script src="{% static 'js/colorDefaults.js' %}"></script>

    <link   rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css"/>
    <link   rel="stylesheet" href="{% static 'css/stepwizzard.css' %}" type="text/css"/>

    <script>
        var csrf_token = '{{ csrf_token }}';
    </script>
{% endblock %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

        <h2>RIS3 Innovation Maps</h2>

        <!-- Nav Bar -->
        <div id="timeline">
            <nav class="stepwizard">
                <ul class="nav stepwizard-row">
                    <li class="stepwizard-step">
                        <a class="btn btn-default btn-circle" href="#sources"><i class="fa fa-file-o"></i></a>
                        <p style="text-align: center" hidden>Data Selection</p>
                    </li>
                    <li class="stepwizard-step">
                        <a class="btn btn-default btn-circle" href="#data"><i class="fa fa-table"></i></a>
                        <p style="text-align: center" hidden>Data Manipulation</p>
                    </li>
                    <li class="stepwizard-step">
                        <a class="btn btn-default btn-circle" href="#visualisations"><i class="fa fa-bar-chart"></i></a>
                        <p style="text-align: center" hidden>Data Visualisation</p>
                    </li>
                </ul>
            </nav>
        </div>

        <div style="width: 100%">
            <div style="float: right">
                <div id="arrows">
                    <a id="up"   class="btn btn-default btn-circle"><i class="fa fa-arrow-up"></i></a>
                    <br>
                    <a id="down" class="btn btn-default btn-circle"><i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>

        <a id="esc" class="btn btn-default btn-circle"><i class="fa fa-times"></i></a>
        <!-- End Nav Bar -->


        <!-- Main Content -->
        <div id="views" class="panel-group">
            <div id="sources" class="collapse in">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="heading">Data Gathering</h4>
                    </div>
                    <p class="panel-body">
                        Upload and analyse data from private sector's R&D and innovation grant applications at both
                        national and regional levels. Uncover bottom-up information about new emerging business and
                        technology trends as perceived by the private sector and ultimately identify key priorities for
                        business innovation spending.
                    </p>
                </div>
                <br><br>
                <div class="panel panel-default" style="width:50%;margin:auto;">
                    <div class="panel-body">
                        <label>Data Gathering Options:</label>
                        <br><br>
                        <div class="form-group">
                            <a id="if" class="btn btn-default btn-circle" data-toggle="modal" data-target="#parse">
                                <i class="fa fa-file"></i>
                            </a>
                            <label for="if">Select File</label>
                            <p>
                                Upload a file to be inserted into the current online spreadsheet to be processed and visualised among other data sources.
                                <i class="fa fa-info-circle"></i>
                                Download <a href="{% url 'innovationmaps_template' %}">Template</a> / <a href="{% url 'innovationmaps_example' %}">Demo. File</a>
                            </p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <a id="id" class="btn btn-default btn-circle" data-toggle="modal" data-target="#import_diag">
                                <i class="fa fa-magic"></i>
                            </a>
                            <label for="id">Import Data</label>
                            <p>
                                Select classified sample data from <abbr title="Gateway to Research">GtR</abbr>(UK) and Tekes(FI).
                            </p>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Or skip:</label>
                        </div>
                        <div class="form-group">
                            <a id="skip" class="btn btn-default btn-circle" href="#data">
                                <i class="fa fa-share"></i>
                            </a>
                            <label for="skip">Skip</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" style="display: none">
                <strong>Info</strong> Import Options hidden. <a onclick="toggle($('#t0'), 'sources')">Show Again</a>
            </div>

            <hr>

            <div id="data" class="collapse in">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="heading">Data Cleansing and Classification</h4>
                    </div>
                    <p class="panel-body">
                        Classify projects by business area and technology trend.<br>
                        Note: <i>the use of standard classifications is encouraged to allow for cross-regional and cross-country comparisons although custom classifications are also supported.</i>
                    </p>
                </div>
                <br>
                <div class="pull-right">
                    Records per Page
                    <select id="per_page" class="input-sm" style="border-color: transparent">
                        <option value="16" selected>16</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                        <option value="128">128</option>
                        <option value="256">256</option>
                    </select>
                </div>
                <br><br>
                <i class="fa fa-info-circle" data-toggle="tooltip" title="Right click on a cell or heading for more options."></i>
                <i id="valid" data-toggle="tooltip"></i>
                <div id="spreadsheet"></div>
                <br>
                <div id="pagination">
                    <div style="text-align: center">
                        <button id="left" style="border-color: transparent"  class="btn btn-sm btn-default " onclick="$('#p').val(parseInt($('#p').val())-1).change()"><i class="fa fa-chevron-left"></i></button>
                        Page <select id="p" onchange="changePage()" class="input-sm" style="border-color: transparent"></select>
                        <button id="right" style="border-color: transparent" class="btn btn-sm btn-default " onclick="$('#p').val(parseInt($('#p').val())+1).change()"><i  class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" style="display: none">
                <strong>Info</strong> Spreadsheet hidden. <a onclick="toggle($('#t1'), 'data')">Show Again</a>
            </div>

            <hr>

            <div id="visualisations" class="collapse in">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="heading">Policy Intelligence, Data Visualisation and Analysis</h4>
                    </div>
                    <p class="panel-body">
                        Make use of visualisations to inform the smart specialisation process based on up-to-date, bottom-up private sector data.
                    </p>
                </div>
                <br><br>
                <div id="plot_options" class="btn-group" style="width: 100%; text-align: center;">
                    <input id="heatmap" type="radio" name="type" value="heatmap" hidden checked><label for="heatmap"><i class="glyphicon glyphicon-th"></i> Heatmap</label></input> /
                    <input id="regions" type="radio" name="type" value="regions" hidden>        <label for="regions"><i class="glyphicon glyphicon-globe"></i> Geo-Scatter Map</label></input>
                </div>

                <div style="float: left">
                    <input id="standard" type="radio" name="bubble" value="standard" hidden checked><label for="standard"><i class="fa fa-table"></i> Standard</label> /
                    <input id="bubble"   type="radio" name="bubble" value="bubble" hidden><label for="bubble"><i class="fa fa-circle-thin"></i> Bubble</label>
                </div>



                <div id="heatmap_options" style="float: right;">
                    <label for="map_plot">Plot: </label>
                    <select id="map_plot" onchange="plot()">
                        <option value="count" selected> Project Count</option>
                        <option value="sum"> Funding Amount</option>
                    </select>
                </div>

                <br><br><br>

                <div id="graph"></div>

                <div class="panel panel-default collapse">
                    <div style="padding: 10px">
                        <a class="btn btn-default btn-circle" onclick="$(this).parent().parent().hide()" style="float: right">&times;</a>
                    </div>
                    <br>
                    <div id="detail"></div>
                </div>

            </div>
            <div class="alert alert-info" role="alert" style="display: none">
                <strong>Info</strong> Graph hidden <a onclick="toggle($('#t2'), 'visualisations')">Show Again</a>
            </div>

        </div>
        <!-- End Main Content -->

    </article>

	<aside id='sidebar'>
        <div id="menu" style="width: 230px">
            <!-- Menu Bar -->
            <div id="app_settings" class="btn-group-vertical" role="group">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-left" style="float: left"></i> File
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Upload</li>
                        <li class="divider"/>
                        <li><a data-toggle="modal" data-target="#parse"><i class="fa fa-file"></i> Import File </a></li>
                        <li class="divider"/>
                        <li class="dropdown-header">Download</li>
                        <li class="divider"/>
                        <li><a onclick="save() "><i class="fa fa-save"></i> Save Data to File </a></li>
    {#                    <li><a onclick="excel()"><i class="fa fa-file-excel-o"></i> Open in Excel </a></li>               #}
                        <li><a data-toggle="modal" data-target="#save"><i class="fa fa-bar-chart"></i> Export Graph</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-left" style="float: left"></i> Data
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Data Management</li>
                        <li class="divider"/>
                        <li><a data-toggle="modal" data-target="#import_diag"><i class="fa fa-magic"></i> Import Data </a></li>
                        <li><a onclick="var conf = confirm('Erase all data?\nWarning! Data will be lost'); if(conf==true) { records=[]; loadSheet();}"><i class="fa fa-eraser"></i> Clear Data </a></li>
                        <li class="divider"/>
                        <li class="dropdown-header">Validation</li>
                        <li class="divider"/>
                        <li><a onclick="validate()"><i class="fa fa-question"></i> Validate Data </a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-left" style="float: left"></i> View
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Toggle</li>
                        <li class="divider"/>
                        <li><a id="t0" onclick="toggle(this, 'sources')"><i class="fa fa-eye"></i> Import Options</a></li>
                        <li><a id="t1" onclick="toggle(this, 'data')"><i class="fa fa-eye"></i> Spreadsheet</a></li>
                        <li><a id="t2" onclick="toggle(this, 'visualisations')"><i class="fa fa-eye"></i> Graph</a></li>
                        <li class="divider"/>
                        <li class="dropdown-header">Maximise</li>
                        <li class="divider"/>
                        <li><a onclick="toggleFullscreen('spreadsheet')"><i id="spreadsheet_fi" class="fa fa-window-maximize"></i> Spreadsheet</a></li>
                        <li><a onclick="toggleFullscreen('graph')"><i id="graph_fi" class="fa fa-window-maximize"></i> Graph</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-left" style="float: left"></i> Design
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Graph Styling</li>
                        <li class="divider"/>
                        <li><a onclick="$('#opt_hm').show()" data-toggle="modal" data-target="#design"><i class="fa fa-table"></i> Colours</a></li>
                        <li><a onclick="$('#opt_bm').show()" data-toggle="modal" data-target="#design"><i class="fa fa-globe"></i> Scaling</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Menu Bar -->

            <br><br>

            <div id="display_settings" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Display Settings</h4>
                    <a data-toggle="modal" data-target="#help_modal">Help <i class="fa fa-info-circle"></i></a>
                    <div>View and interpret different formats of data.</div>
                </div>
                <div class="panel-body">
                    <form id="settings">
                        <label for="nuts">NUTS Level: </label>
                        <select id="nuts">
                            <option value=0>0</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3 selected="selected">3</option>
                        </select>
                        <div>Select appropriate NUTS-Level.</div>
                        <hr>
                        <label for="lang">Language</label>
                        <select id="lang">
                            <option value="" selected>Native</option>
                            <option value="en">EN</option>
                        </select>
                        <div>View regions in chosen language.</div>
                        <hr>
                        <label for="codes">Show Codes</label>
                        <input id="codes" type="checkbox" name="code" checked>
                        <div>Toggle between class identifiers and readable descriptions.</div>
                    </form>
                </div>
            </div>
            <a href='{% url "innovationmaps_pdf" %}' target="_blank">
                <button id="df" class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </a>
        </div>
    </aside>

    <!-- Modals -->
    <div id="parse" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import Data</h4>
                </div>
                <div class="modal-body">
                    <div id="step_1">
                        <strong>Step 1</strong>: Click 'Browse' and locate a file to be uploaded.
                        <br/>
                        <label>Select File: </label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-default">
                                    Browse: <input type="file" onchange="loadFile(event)"/>
                                </span>
                            </label>
                            <input id="file" class="form-control" type="text" readonly>
                        </div>
                        <br/>
                        <div>
                            <a data-toggle="collapse" data-target="#help">Help <i class="fa fa-info-circle"></i></a>
                            <div id="help" class="panel-group collapse">
                                <strong>Topics</strong>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-target="#requirements" data-parent="#help">
                                            <i class="fa fa-table"></i>
                                            Data Requirements
                                        </a>
                                    </div>
                                    <div id="requirements" class="panel-body collapse">
                                        The minimum data required in order to make full use of the mapping features of this application are as follows:
                                        <li>Region of Implementation</li>
                                        <li>Funding Amount</li>
                                        <li>Business Area</li>
                                        <li>Technology Classification</li>
                                        In the scope of independently awarded grants by national or regional funding bodies.
                                        See <a data-toggle="collapse" data-target="#formats">formats</a> for more information
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-target="#formats" data-parent="#help">
                                            <i class="fa fa-file"></i>
                                            Supported Formats
                                        </a>
                                    </div>
                                    <div id="formats" class="panel-body collapse">
                                        The following formats are supported by this application:
                                        <li>Text (<i>*.csv, *.tsv, *.json</i>)</li>
                                        <li>Excel (<i>*.xls, *.xlsx</i>)</li>
                                        <li>Open Office (<i>*.odf</i>)</li>
                                        Simply select the necessary delimiters and column specifiers once selecting a file.
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-target="#identifiers" data-parent="#help">
                                            <i class="fa fa-hashtag"></i>
                                            Standard Identifiers
                                        </a>
                                    </div>
                                    <div id="identifiers" class="panel-body collapse">
                                        <table class="table table-hover">
                                            <tr> <td>Region</td>                    <td><abbr title="Nomenclature of territorial units for statistics">NUTS</abbr></td>                                  <td>Read More <a href="http://ec.europa.eu/eurostat/web/nuts" target="_blank">[1]</a></td> </tr>
                                            <tr> <td>Business Area</td>             <td><abbr title="The Organisation for Economic Co-operation and Development">OECD</abbr></td>                        <td>Read More <a href="http://www.oecd.org/" target="_blank">[1]</a> <a href="http://www.oecd.org/sti/inno/MSTI_documentation_e.pdf" target="_blank">[2]</a></td> </tr>
                                            <tr> <td>Technology Classification</td> <td><abbr title="Nomenclature for the Analysis and Comparison of Scientific Programmes and Budgets">NABS</abbr></td> <td>Read More <a href="http://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM_DTL&StrNom=CL_NABS07&StrLanguageCode=EN&IntPcKey=&StrLayoutCode=HIERARCHIC" target="_blank">[1]</a> <a href="http://www.oecd.org/science/inno/43299905.pdf" target="_blank">[2]</a></td> </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-target="#case" data-parent="#help">
                                            <i class="fa fa-globe"></i>
                                            Example Case Study
                                        </a>
                                    </div>
                                    <div id="case" class="panel-body collapse">
                                        <strong>The World Bank Group (2017).</strong> <i>Toward an innovative Poland: The entrepreneurial discovery process and business needs analysis.</i> The World Bank Group, <i>pp.29-30, 97-101.</i> <br/>
                                        Available at:
                                        <a href="http://www.worldbank.org/en/country/poland/publication/entrepreneurial-discovery-process-poland"><i class="fa fa-link"></i></a>
                                        <a href="http://documents.worldbank.org/curated/en/801221468186841613/pdf/106148-REPLACEMENT-v2-English-REPORT-Web.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a> <br/>
                                        Innovation Map Methodology including Case Study
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="step_2">
                        <hr/>

                        <h4>Import Options</h4>
                        <div> File Properties <br/><strong>Step 2</strong>: Select settings according to contents of the file provided. </div>
                        <br/>
                        <form id="import">
                            <div class="form-inline">
                                <div class="form-group col-sm-4">
                                    <label class="control-label" for="header">File Contains Headers</label>
                                    <input id="headers" type="checkbox" checked>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label" for="separator">Separator</label>
                                    <select id="separator">
                                        <option value=";" selected>;</option>
                                        <option value=",">,</option>
                                        <option value=" ">Space</option>
                                        <option value="t">Tab</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label" for="quote">Quote</label>
                                    <select id="quote">
                                        <option value='"' selected>"</option>
                                        <option value="'">'</option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <br/>

                        <hr/>

                        <h4>File Preview</h4>
                        <div>Inspect the contents of the file in order to make necessary corrections.<br/><strong>Step 3</strong>: Edit data as necessary.</div>
                        <div id="preview"></div>
                        <p style="float:right">* Only previewing first page of data</p>

                        <hr/>

                        <h4>Column Selection</h4>
                        <div>Specify the columns from which to read the following properties.<br/><strong>Step 4</strong>: Select the necessary columns.</div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="col_r">Region(s)</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="col_r"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="col_f">Amount Funded</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="col_f"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="col_b">Business Area</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="col_b"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="col_t">Technology Classification</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="col_t"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button id="confirm" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" disabled>Insert <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="import" id="#overwrite" data-dismiss="modal" href="#">Overwrite</a></li>
                            <li><a class="import" id="#append"    data-dismiss="modal" href="#">Append</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="import_diag" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Import Data</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Import pre-classified project data from GtR and Tekes. This data has been labelled with OECD and
                        NABS codes chosen based on textual analysis of the published Abstracts and related texts.
                    </p>
                    <hr/>
                    <Strong>* Optional</Strong>
                    <br/>
                    <button class="btn btn-default btn-circle" data-toggle="collapse" data-target="#filters"><i class="fa fa-filter"></i></button> Apply Filters
                    <div id="filters" class="collapse">
                        <strong>Filter by region:</strong> Select a NUTS level
                        <select id="level">
                            <option value=0>0</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                        </select>
                         region.
                        <br>
                        <label for="region">Region</label>
                        <input id="region">
                        <hr>
                        <strong>Filter by classification:</strong>
                        <br>
                        <label for="nabs_i">NABS</label>
                        <input id="nabs_i">
                        <label for="oecd_i">OECD</label>
                        <input id="oecd_i">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" onclick="getData()">Import</button>
                    <button class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="save" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save Graph</h4>
                </div>
                <div class="modal-body">
                    <label for="filename">Filename</label><br>
                    <input id="filename" type="text">
                    <select id="format">
                        <option value="png" selected>*.png</option>
                        <option value="jpeg">*.jpg, *.jpeg</option>
                    </select>
                    <br><br>
                    <label for="dimensions">Dimensions</label>
                    <div id="dimensions" class="form-group">
                        <input name="width" type="number" min="0" max="1440" value="740">px ×
                        <input name="height" type="number" min="0" max="1080" value="540">px
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="saveGraph()">Save</button>
                    <button class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="design" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Design</h4>
                </div>
                <div class="modal-body">
                    <div id="opt_hm" hidden>
                        <h4>Colorscale</h4>
                        <br>
                        <div id="slider"></div>
                        <br><p>Double click on the colourbar to add a new colour to the scale.</p><br>
                        <label>Select Defaults: </label>
                        <select onchange="switch(this.value){case 'gs': values=greys.slice(); break; case 'r': values=reds.slice(); break; case 'g': values=greens.slice(); break; case 'b': values = blues.slice(); break; case 'hmc': values = hotMildCool.slice(); break; case 't': values = traffic.slice(); break; case 'm': values = magma.slice(); break; case 'v': values = viridis.slice();} initColorscale(); renderGradient(); plot();">
                            <option></option>
                            <option value="gs">Greyscale</option>
                            <option disabled/>
                            <option value="r">Reds</option>
                            <option value="g">Greens</option>
                            <option value="b">Blues</option>
                            <option disabled/>
                            <option value="hmc">Temperature</option>
                            <option value="t">Traffic</option>
                            <option disabled/>
                            <option value="v">Viridis</option>
                            <option value="m">Magma</option>
                        </select>

                    </div>
                    <div id="opt_bm" hidden>
                        <label for="scale">Bubble Scale: </label>
                        <input id="scale" type="range" value="0" min="-9" max="10" step="1">
                        <p id="output">1×</p>
                        <p>Resize bubble's with a fixed ratio preserving the distribution. Useful when zooming in on Regions of interest.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="help_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <h4>NUTS-Levels</h4>
                    <p>The NUTS classification (Nomenclature of territorial units for statistics) is a hierarchical system for dividing up the economic territory of the EU for the purpose of:</p>
                    <ul>
                        <li>The collection, development and harmonisation of European regional statistics</li>
                        <li>
                            Socio-economic analyses of the regions
                            <ul>
                                <li>NUTS 1: major socio-economic regions</li>
                                <li>NUTS 2: basic regions for the application of regional policies</li>
                                <li>NUTS 3: small regions for specific diagnoses </li>
                            </ul>
                        </li>
                        <li>Framing of EU regional policies.</li>
                    </ul>
                    <br/>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>Description</th>
                                <th>Example(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*0</td>
                                <td>Country Level (* ISO 3166-1 alpha-2 codes)</td>
                                <td>UK<br>FI</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Major socio-economic regions</td>
                                <td>UKI (London)<br>FI1 (Mainland Finland)</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Basic regions for the application of regional policies</td>
                                <td>UKI3 (Inner London West)<br>FI1B (Helsinki-Uusimaa)</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Small regions for specific diagnoses</td>
                                <td>UKI31 (Camdem and City of London)<br>FI1B1 (Helsinki-Uusimaa)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <p>For more information: <a href="http://ec.europa.eu/eurostat/web/nuts" target="_blank"><i class="fa fa-external-link"></i></a></p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Modals -->

</div>


<!-- Application's space -->
{% endblock %}
